html{
  background-color: darksalmon;
}
.container-fluid{
  /* background-color: bisque; */
  background-color: darksalmon;
}
.container-fluid>div>div{
  background-color: rgb(255, 183, 0);
}
input[type="text"]{
  background: transparent;
  /* color: ; */
}
input[type="text"]:focus{
  background: transparent;
  
}